body{
    margin: 0 0;
}
#navbar {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
#navbar ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    height: 54px;
    overflow: hidden;
    background-color: #570404;
} 
#navbar ul li {
    float: right;
    padding: 3px 5px;
}
#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: 'Georgia, serif';
    font-size: 24px;
}
  /* Change the link color to #111 (black) on hover */
#navbar ul li a:hover {
    background-color: #111;
}
#welcome-section{
    box-sizing: border-box;
    border-style: solid;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    height: 100vh;
    background-color: #d4c218;
}
#projects{
    border-style: solid;
    height: 700px;
    background-color: #5a0a8f;
}
#work-together{
    border-style: solid;
    margin-top: 0px;
    height: 100vh;
    background-color: #d4c218;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
    font-family: 'Georgia, serif';
    font-size: 48px;
    color:  #570404;
}
h3{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 24px;
    align-items: center;
    color:  #000000;
}
h2{
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    margin-top: 70px;
    color: white;
    font-family: 'Georgia, serif';
    font-size: 36px;
    
}
@media screen and (max-width: 800px) {
    #projects{
        border-style: solid;
        height: 900px;
        background-color: #103ca5;
    }
}